In [1]:
empty_tuple=()
empty_tuple

()

In [2]:
one_marx="Groucho",
one_marx

('Groucho',)

In [3]:
marx_tuple='dog','cat','pig'
marx_tuple

('dog', 'cat', 'pig')

In [4]:
a,b,c=marx_tuple
a

'dog'

In [5]:
b

'cat'

In [6]:
c

'pig'

In [8]:
password='dog'
icecream='fruit'
password, icecream=icecream,password
password

'fruit'

In [12]:
dictionary={
    'a_type':'apple,ant,aboriginal',
    'b_type':'banana,bat,ball',
    'c_type':'cat,casttle,chrome',
}
dictionary

{'a_type': 'apple,ant,aboriginal',
 'b_type': 'banana,bat,ball',
 'c_type': 'cat,casttle,chrome'}

In [15]:
lot=[('a','b'),('c','d'),('e','f')]
dict(lot)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [18]:
python={
    'Chapman:':'Graham' ,
    'Cleese:' :'John' ,
    'Idle:':'Eric' ,
    'Jones':'Terry' ,
    'Palin':'Michael' ,
}
python

{'Chapman:': 'Graham',
 'Cleese:': 'John',
 'Idle:': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [19]:
python['Gilliam']='Gerry'
python

{'Chapman:': 'Graham',
 'Cleese:': 'John',
 'Gilliam': 'Gerry',
 'Idle:': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [20]:
python['gilliam']='Terry'
python

{'Chapman:': 'Graham',
 'Cleese:': 'John',
 'Gilliam': 'Gerry',
 'Idle:': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'gilliam': 'Terry'}

In [22]:
python={
    'Chapman:':'Graham' ,
    'Cleese:' :'John' ,
    'Idle:':'Eric' ,
    'Jones':'Terry' ,
    'Palin':'Michael' ,
}
others={'Marx':'Groucho','Howard':'Moe'}
python.update(others)
python

{'Chapman:': 'Graham',
 'Cleese:': 'John',
 'Howard': 'Moe',
 'Idle:': 'Eric',
 'Jones': 'Terry',
 'Marx': 'Groucho',
 'Palin': 'Michael'}

In [25]:
first={'a':1,'b': 2 }
second={'b':'playtus'}
first.update(second)
first

{'a': 1, 'b': 'playtus'}

In [27]:
del python['Marx']
python

{'Chapman:': 'Graham',
 'Cleese:': 'John',
 'Howard': 'Moe',
 'Idle:': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [29]:
python.clear()
python

{}

In [30]:
'champan' in python

False

In [32]:
'Chapman' in python

False

In [37]:
python={
    'Chapman':'Graham' ,
    'Cleese' :'John' ,
    'Idle':'Eric' ,
    'Jones':'Terry' ,
    'Palin':'Michael' ,
}

In [38]:
'Chapman' in python

True

In [40]:
python['Cleese']

'John'

In [41]:
python.get('Idle')

'Eric'

In [42]:
python.get('Jone','Not in python')

'Not in python'

In [44]:
python.keys()

dict_keys(['Cleese', 'Idle', 'Chapman', 'Palin', 'Jones'])

In [46]:
list(python.keys())

['Cleese', 'Idle', 'Chapman', 'Palin', 'Jones']

In [47]:
python.values()

dict_values(['John', 'Eric', 'Graham', 'Michael', 'Terry'])

In [49]:
list(python.values())

['John', 'Eric', 'Graham', 'Michael', 'Terry']

In [50]:
python.items

In [51]:
python.items()

dict_items([('Cleese', 'John'), ('Idle', 'Eric'), ('Chapman', 'Graham'), ('Palin', 'Michael'), ('Jones', 'Terry')])

In [52]:
list(python.items())

[('Cleese', 'John'),
 ('Idle', 'Eric'),
 ('Chapman', 'Graham'),
 ('Palin', 'Michael'),
 ('Jones', 'Terry')]