In [1]:
animal=['dog','cat','turtle','pig']
for animals in animal:
    print(animals)

dog
cat
turtle
pig

In [2]:
word=('letter')
for words in word :
    print(words)

l
e
t
t
e
r

In [3]:
animal={'a_type':'ant','b_type':'bat','c_type':'cat'}
for animals in animal:
    print (animals)

c_type
b_type
a_type

In [4]:
for value in animal.values():
    print(value)

cat
bat
ant

In [5]:
for item in animal.items():
    print(item)

('c_type', 'cat')
('b_type', 'bat')
('a_type', 'ant')

In [6]:
for a , b in animal.items():
    print('The',a,'is',b)

The c_type is cat
The b_type is bat
The a_type is ant

In [7]:
good=[1,3,5]
for goods in good:
    if goods % 2 == 0:
        print('there are even ')
        break
        
else :
    print('there are not even')

there are not even

In [8]:
day=['Monday','Tuesday','Wednesday']
fruits=['apple','banana','orange']
drinks=['coffee','tea','beer']
desserts=['tiramisu','ice cream','pie','pudding']
for days , fruit, dirnk, dessert in zip(day,fruits,drinks,desserts):
    print(days,':drink',dirnk,'- eat',fruit,'- enjoy',dessert)

Monday :drink coffee - eat apple - enjoy tiramisu
Tuesday :drink tea - eat banana - enjoy ice cream
Wednesday :drink beer - eat orange - enjoy pie

In [9]:
english='Monday','Tuesday','Wednesdsy'
french='Lundi','Mardi','Mercredi'
list(zip(english,french))

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesdsy', 'Mercredi')]

In [10]:
dict(zip(english,french))

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesdsy': 'Mercredi'}

In [11]:
for x in range(0,3):
    print(x)

0
1
2

In [12]:
list(range(0,3,))

[0, 1, 2]

In [13]:
#取0~10的偶數
for y in range(0,11,2):
    print(y)

0
2
4
6
8
10

In [14]:
number_list=list(range(1,6))
number_list

[1, 2, 3, 4, 5]

In [15]:
number_list=[number for number in range(1,6)]
number_list

[1, 2, 3, 4, 5]

In [17]:
a_list=[]
for number in range(1,6):
    if number % 2 == 1:
        a_list.append(number)
a_list

[1, 3, 5]

In [18]:
a_list=[number for number in range(1,6) if number % 2 ==1]
a_list

[1, 3, 5]

In [19]:
rows=range(1,4)
cols=range(1,3)
for row in rows:
    for col in cols:
        print(row,col)

1 1
1 2
2 1
2 2
3 1
3 2

In [20]:
cell=[(row,col)for row in rows for col in cols ]
for cells in cell:
    print(cells)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [25]:
for row,col in cell:
    print(row,col)

1 1
1 2
2 1
2 2
3 1
3 2

In [27]:
word='letters'
letter_counts ={letter:word.count(letter) for letter in word}
letter_counts

{'e': 2, 'l': 1, 'r': 1, 's': 1, 't': 2}

In [29]:
letter_count={letter:word.count(letter)for letter in set(word)}
letter_count

{'e': 2, 'l': 1, 'r': 1, 's': 1, 't': 2}

In [30]:
a_set={number for number in range(1,6) if number%3==1}
a_set

{1, 4}

In [31]:
number_thing=(number for number in range(1,6))

In [32]:
type(number_thing)

generator

In [33]:
for number in number_thing:
    print(number)

1
2
3
4
5

In [34]:
number_list=list(number_thing)#產生器只能使用一次
number_list

[]